API_KEY_EXCHANGE_RATES_DATA = "your_API_key_from_exchange_rates_data" #Ваш API ключ от Exchange Rates Data API
API_KEY_FINANCIAL_MODELING_PREP = "your_API_key_from_financial_modeling_prep" #Ваш API ключ от https://site.financialmodelingprep.com/developer/docs#symbol-list-stock-list